// Thematic blue
$dark-blue: #0b2239;
$off-black: #333333;
$black: #000000;
// Navigation font color
$green:#7FC37E;
// Generic Color
$white: #FFFFFF;
$off-white:#FEFEE2;
// Portfolio colors
$portfolio-green:#007f00;
$portfolio-red: red;

