@font-face {
    font-family: 'Avenir Next';
    src: url('../../asset/fonts/AvenirNextLTPro-Regular.otf'),url('../../asset/fonts/AvenirNextLTPro.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../../asset/fonts/AvenirNextLTPro-Bold.otf'),url('../../asset/fonts/AvenirNextLTProBold.ttf');
    font-weight: 700;
}