@use '../../styles//partials/mixins.scss' as *;
@use '../../styles/partials/colors' as *;
.dashboard-stock-profile{
    background-color: $off-black;
    color: $off-white;
    border-radius: 5px;
    width: 80%;
    @include setPadding(1rem,1rem,1rem,1rem);
    @include setMargin(1rem,0,0rem,0);
    @include tablet{
        width: 50%;
        @include setMargin(1rem,0,0,1rem);
    }
    &__header{
        @include setMargin(0,0,1rem,0);
        font-size: 1.5rem;
    }
    &__paragraph{
        line-height: 1.5rem;
    }
}